table {
	min-width: 100%;
	height: 100%;
}

#canvas {
	height: 100%;
	width: 100%;
	resize: vertical;
	overflow-y: auto;
	border: 1px solid black;
}
#side {
	width: 20%;
	border: 1px solid black;
}

#menu {
	display: none;
	position: absolute;
	border: 1px solid black;
}
#menu > button {
	display: block;
	width: 100px;
	border: 1px solid;
	border-radius: 0;
}

input[type="text"] {
	width: 75%;
}

.emme {
	width: min-content;
	display: flex;
	flex-wrap: nowrap;
	border: 1px solid black;
	margin: 1px;
}

.loogikaelement {
	display: block;
	width: 32px;
	height: 32px;
	border: 1px solid black;
	font-size: 16px;
	text-align: center;
}
.loogikaelement[data-id="valjund"] {
	float: right;
}

ol {
	margin: 0;
	padding-left: 20px;
}