.tekst{
    float:left;
    width: 50%;
}
.pilt{
    float:left;
    width: 50%;
}
.tekst-pildiga:after{
    content: "";
    display: table;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}